src/main/resources/categoria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pe.cibertec/ws/categoria"
           xmlns:tns="http://pe.cibertec/ws/categoria"
           elementFormDefault="qualified">

    <!-- Tipo complejo basado en tu DTO -->
    <xs:complexType name="Categoria">
        <xs:sequence>
            <xs:element name="idCategoria" type="xs:int" minOccurs="0"/>
            <xs:element name="nombreCategoria" type="xs:string"/>
            <xs:element name="descripcion" type="xs:string"/>
            <xs:element name="estado" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!--
         OPERACIONES
      -->

    <!-- Crear -->
    <xs:element name="CategoriaCrearRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="categoria" type="tns:Categoria"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CategoriaCrearResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mensaje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Listar -->
    <xs:element name="CategoriaListarRequest" type="xs:anyType"/> <!-- sin argumentos -->

    <xs:element name="CategoriaListarResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="categoria" type="tns:Categoria" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Modificar -->
    <xs:element name="CategoriaModificarRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="categoria" type="tns:Categoria"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CategoriaModificarResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mensaje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Eliminar -->
    <xs:element name="CategoriaEliminarRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idCategoria" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CategoriaEliminarResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mensaje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
